.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgb(224, 224, 224), -2px -2px 2px rgb(224, 224, 224);
  width: 400px;
  margin: 20px 0px auto;
  padding-bottom: 15px;
  color: #282c34;
  border-radius: 10px;

}
.list h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.lists button {
  align-self: center;
  justify-content: end;
  margin-left: 20px;
  background-color: #282c34;
  color: white;
}